@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
#main-div{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.player-card{
    margin-bottom: 6rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border: 1px solid #b6b3d3;
    border-radius: 5px;
    background-color: #ffffff;
    padding: .5rem;
    cursor: pointer;
    position: relative;
}

.stat-div{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    visibility: hidden;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

.player-flag{
    width: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.visibility-hidden{
    visibility: hidden;
}
.visibility-visible{
    visibility: visible;
}

.player-pic{
    height: auto;
    width: 15rem;
}

.player-name{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(90, 90, 90);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(90, 90, 90) transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 25rem;
    perspective: 1000px;
    cursor: pointer;
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .trans{
    transform : rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: rgb(225, 198, 255);
    border-radius: 10px;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: rgb(12, 32, 53);
    color: white;
    transform: rotateY(180deg);
  }